

.navbar {
	background-color: #01403a;
	font-family: 'Roboto';
	font-weight: 400;
}

.brand {
	font-weight: 500;
	padding-right: 10px;
}

.navbar a {
	color: white;
}

.wHeading {
  font-weight: 300;
  color: white;
}
