

.navbar {
	background-color: #01403a;
	font-family: 'Roboto';
	font-weight: 400;
}

.brand {
	font-weight: 500;
	padding-right: 10px;
}

.navbar a {
	color: white;
}

.wHeading {
  font-weight: 300;
  color: white;
}

.breadcrumb {
  background-color: #88F9D4;
}

.breadcrumb-item a {
  color: #01403a;
}

@media screen and (max-width: 992px) {
  .imgStyle {
    display: none;
  }
}

/*Hide Scrollbars baby*/
.hideMe::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE and Edge */
.hideMe {
  -ms-overflow-style: none;
}