

.navbar {
	background-color: #01403a;
	font-family: 'Roboto';
	font-weight: 400;
}

.brand {
	font-weight: 500;
	padding-right: 10px;
}

.navbar a {
	color: white;
}

.wHeading {
  font-weight: 300;
  color: white;
}

.breadcrumb {
  background-color: #88F9D4;
}

.breadcrumb-item a {
  color: #01403a;
}

@media screen and (max-width: 992px) {
  .imgStyle {
    display: none;
  }
}

/*Hide Scrollbars*/
.hideMe::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE and Edge */
.hideMe {
  -ms-overflow-style: none;
}

.page-enter {
  opacity: 0;
  transform: translateX(-100%);
}

.page-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: 300ms ease-out;
}

.page-exit {
  opacity: 1;
}

.page-exit-active {
  opacity: 0;
  transition: ease-in;
}

.addBtnStyle {
  background-color: #0b877d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: .3s;
}

.addBtnStyle:hover {
  background-color: #0b877d;
  margin-top: 2px;
  transition: .3s;
  transition-timing-function: ease-in-out;
}